<!doctype html>
<html lang="{{ .Lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <style>{{ .ThemeCSS }}</style>
  {{- if .ExtraHead }}{{ .ExtraHead }}{{ end }}
</head>
<body class="doc doc--{{ .DocType }}">
  {{ .Body }}
</body>
</html>
